# Ingnore vim-plugin directory and vim-swap directory
swap/
backup/
plugged/
undodir/
session/*

# Ignore Github README
README.md

# Ignore netrw history
.netrwhist

# Ignore vim swap files
*~

# Ignore tags file
tags
